@using _01_MVC_Intro.Models.Product;
@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "All Products";
}

<div class="card" style="width: 18rem">
    <div class="card-header">@ViewBag.Title</div>
    <ul class="list-group list-group-flush">
        @{
            int counter = 0;
        }
        @foreach (ProductViewModel product in Model)
        {
            counter++;
            <li class="list-group-item">
                <a asp-controller="Product" asp-action="ById" asp-route-id="@product.Id">
                    @counter. @product.Name - @product.Price lv.
                </a>
            </li>
        }
    </ul>

    <a class="btn btn-info" style="width: auto" asp-controller="Product" asp-action="AllAsTextFile">Download as Text File</a>

    
</div>
<form asp-controller="Product" asp-action="My-Products" method="get" style="margin-top: 10px">
    <div class="input-group" style="width: 18rem">
        <input type="search" name="keyword" class="form-control rounded" placeholder="Find Food" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-primary rounded" style="margin-left: 8px">Search</button>
    </div>
</form>


